/* Navbar */

@import '../../../styles';
/* Navbar */

.navbar {
  font-family: $type-2;
  background: $blue-teal-gradient;
  transition: background $action-transition-duration $action-transition-timing-function;
  -webkit-transition: background $action-transition-duration $action-transition-timing-function;
  -moz-transition: background $action-transition-duration $action-transition-timing-function;
  -ms-transition: background $action-transition-duration $action-transition-timing-function;
  .navbar-brand-wrapper {
    transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function, background $action-transition-duration $action-transition-timing-function;
    background: $sidebar-light-bg;
    width: $sidebar-width-lg;
    height: $navbar-height;
  }
  .navbar-menu-wrapper {
    transition: width $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration $action-transition-timing-function;
    color: $white;
    padding-left: calc(100% - #{$sidebar-width-lg} - 150px); // changement de l'emplacement du logo d'admin 
    padding-right: 15px;
    width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;

    .navbar-toggler {
      border: 0;
      color: inherit;
    }
    .navbar-text {
      font-size: $default-font-size;
    }
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
        .nav-link {
          color: inherit;
          font-size: $navbar-font-size;
          vertical-align: middle;
          i {
            font-size: $navbar-icon-font-size;
            vertical-align: middle;
          }
          .profile-text {
            margin-right: 15px;
            .rtl & {
              margin-right: 0;
              margin-left: 15px;
            }
          }
          &.nav-btn {
            .btn {
              background: rgba($white, .1);
              padding: 0.75rem 1rem;
              color: $white;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &.header-links {
        height: $navbar-height;
        padding-left: 2%;
        .nav-item {
          margin: 0;
          .nav-link {
            height: $navbar-height;
            font-size: $navbar-font-size;
            padding: 16px 25px;
            @include display-flex;
            @include align-items(center);
            i {
              margin-right: 10px;
              font-size: 21px;
              .rtl & {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
          &.active {
            background: rgba($white, 0.13);
          }
        }
      }
    }
  }
}
