<div class="containing">
    <h2 style="text-align: center;">Details de la Formation</h2>
    <hr>
    <div style="display: flex; justify-content: space-between;">
        <div class="left">
            <div>
                <h4>Nom de Formation:</h4>
                <p class="info"></p>
            </div>
            <div>
                <h4>Etablissment:</h4>
                <p class="info"></p>
            </div>
            <div>
                <h4>Objectives:</h4>
                <p class="info"></p>
            </div>
            <div>
                <h4>Pre_requis:</h4>
                <p class="info"></p>
            </div>
           
        </div>
        <div class="right">
            <div>
                <h4>Date:</h4>
                <p class="info"></p>
            </div>
            <div>
                <h4>Prix Total:</h4>
                <p class="info"></p>
            </div>
        </div>
    </div>
    
    
    <h2 style="text-align: center;">Elements de la Formation</h2>
    <hr>
    <div class="formation_elements">
            <div>
                <h4>Nom</h4>
                <p></p>
            </div>
            <div>
                <h4>Duration</h4>
                <p></p>
            </div>
            <div>
                <h4>Date</h4>
                <p></p>
            </div>
            <div>
                <h4>Prix</h4>
                <p></p>
            </div>
            <div>
                <h4>Selectionner</h4>
                <p style="text-align: center;"></p>
            </div>
        </div>         
</div>
