<div class="container" #container>
	<div class="form-container sign-up-container">
		<form>
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social google"><i class="fa fa-google-plus"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" [(ngModel)]="username" name="username" placeholder="Username" />
			<input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
			<div style="width:100%; margin: 1.5vh 0 2vh 0;background-color: #eee; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">
				<span [ngClass]="{checked: role === 'BENEFICIAIRE'}" class="check">
					<input type="radio" id="beneficiaire" name="role" value="beneficiaire" (change)="handleChange($event)" checked="checked">
					<label class="label" for="beneficiaire">Beneficiaire</label>
				</span>
				<span [ngClass]="{checked: role === 'FORMATEUR'}" class="check">
					<input type="radio"  id="formateur" name="role" value="formateur" (change)="handleChange($event)">
					<label class="label" for="formateur">Formateur</label>
				</span>
			</div>
			<button (click)="register()">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form>
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social google"><i class="fa fa-google-plus"></i></a>
			</div>
			<span>or use your account</span>
			<input type="text" [(ngModel)]="username" name="username" placeholder="Username" />
			<input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button (click)="authenticate()">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" (click)="signInButton()">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="signUpButton()">Sign Up</button>
			</div>
		</div>
	</div>
</div>