
<div class="buttons" style="margin: 60px 0 30px 0;">
    <button class="add-form" (click)="addFormation()"> Ajouter une formation </button>
    <button class="add-cv" (click)="addCV();"> Modifier mon CV </button>
</div>

<div class="table-title">
    <h3>Mes Formations</h3>
</div>
    <table class="table-fill"  style="margin-bottom: 50px;">
    <thead>
    <tr>
    <th style="text-align: center;">Name</th>
    <th style="text-align: center;">Date</th>
    <th style="text-align: center;">Participants</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr>
    <td class="text-left">Spring</td>
    <td  style="text-align: center;">13 / 04 / 2020</td>
    <td  style="text-align: center;">24</td>
    </tr>
    <tr>
    <td class="text-left">Angular</td>
    <td  style="text-align: center;">13 / 04 / 2020</td>
    <td  style="text-align: center;">24</td>
    </tr>
    <tr>
    <td class="text-left">Marketing</td>
    <td  style="text-align: center;">13 / 04 / 2020</td>
    <td  style="text-align: center;">24</td>
    </tr>
    <tr>
    <td class="text-left">Art of Manga</td>
    <td  style="text-align: center;">13 / 04 / 2020</td>
    <td  style="text-align: center;">24</td>
    </tr>
    <tr>
    <td class="text-left">SEO Guide</td>
    <td  style="text-align: center;">13 / 04 / 2020</td>
    <td  style="text-align: center;">24</td>
    </tr>
    </tbody>
    </table>
    
    
      