// /* Utilities */

.img-lg {
  width: 92px;
  height: 92px;
}

.img-md {
  width: 60px;
  height: 60px;
}

.img-sm {
  width: 43px;
  height: 43px;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.img-ss {
  width: 26px;
  height: 26px;
}

.text-gray {
  color: #969696;
}

.text-black {
  color: $black;
}

.flex-grow {
  flex-grow: 1;
}


